.header-container{
  margin-top: 25px;
  display: flex;
  border: 2px solid var(--header-outline);
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
  padding: 13px 7px 13px 16px;

}
.score-container{
  height: 55px;
  max-width: 72px;
  width: 100%;
  background-color: white;
  text-align: center;
  padding: 6px 0 3px 0;
  border-radius: 5px;
  letter-spacing: 1px;
  :nth-child(1){
    font-size: 10px;
    color: var(--score-text);
  }
  :nth-child(2){
    margin-top: -2px;
    font-size: 36px;
  }
}
