<div class="modal-container-wrapper" >
  <div class="modal-container" >
    <div class="rules-game-container-text">
      <h1 class="text-center">RULES</h1>
    </div>
    <div class="rules-game-container">
      <img class="content-center" src="../assets/images/{{imgPath}}" alt="game rules" width="304" height="270">
    </div>
    <div class="close-icon-container">
      <button class="content-center" src="../assets/images/icon-close.svg" width="20" height="20" (click)="closeModal()"></button>
    </div>
  </div>
</div>
