



    <app-modal (hasToCloseModal)="changeModalFalse()" [imgPath]="modalImgRuthPath" [ngClass]="{'d-none': !hasToShowModal}"></app-modal>
    <div class="menu-container" >
      <app-header  [headerImgPath]="headerImgRuthPath"></app-header>
      <div class="optionGameModeView" *ngIf="!isOptionGameModeSelected; else OptionGameModeSelected">
        <button (click)="gameModeSelection()">Orginal Game</button>
        <button (click)="gameModeSelection('bonus')">Additional Game</button>
      </div>
      <ng-template #OptionGameModeSelected>
      <app-game-options (fisrtPlayerSelection)="selectedOption($event)"  [isOriginalGame]="isOriginalGame" *ngIf="optionSelectedByFirstPlayer === '';else optionIsSelected "></app-game-options>
      <ng-template #optionIsSelected>
        <div class="options-selected-container">
          <app-game-selections [firstPlayerSelection]="optionSelectedByFirstPlayer" [numberOfSelections]="numberOfOptions" [secondPlayerSelection]="optionSelectedBySecondPlayer" (isFirstPlayerTheWinner)="increaseMatchScore($event)"></app-game-selections>
          <app-game-result *ngIf="optionSelectedBySecondPlayer !== ''" [isFirstPlayerTheWinner]="isFirstPlayerTheWinner" (restartButtonPressed)="restartGame()"></app-game-result>
        </div>
      </ng-template>
      <div class="button-rule">
        <button *ngIf="optionSelectedBySecondPlayer === ''" (click)="showModal()">RULES</button>
        <button *ngIf="optionSelectedBySecondPlayer !== ''"(click)="restartMatch()">Restart Score</button>
        <button *ngIf="optionSelectedBySecondPlayer !== ''"(click)="changeGame()">Change Game</button>
      </div>
    </ng-template>
    </div>
